third_party/
log/
.env.dev
.env.prod
.env
*.tgz
*.tar.*
test-exports/
docker-compose.prod.yml
docker-compose.yml
*.env.backup.*
.env.prod.back*
.env
.env.backup.*
.env.example.backup-*
.env.local
.env.test
src/jupyterhub/jupyterhub_config_*
src/frontend/node_modules/
patches/
third_party/
src/openscow/
backup/
scripts/node_modules
test/e2e/node_modules/
test-results/
test/e2e/test-results/
scripts/test-screenshots
test-screenshots/
#pkgs
pkgs/
.build-cache/
node_modules/
.playwright-mcp/test/e2e/*.png
test/e2e/*.png
.playwright-mcp/test-results/*.png
*.png
src/src/