basePath: /api
definitions:
  handlers.GenerateRequest:
    properties:
      project_id:
        type: integer
    required:
    - project_id
    type: object
  models.Host:
    properties:
      created_at:
        type: string
      group:
        type: string
      id:
        type: integer
      ip:
        type: string
      name:
        type: string
      port:
        type: integer
      project_id:
        type: integer
      updated_at:
        type: string
      user:
        type: string
    type: object
  models.PlaybookGeneration:
    properties:
      created_at:
        type: string
      error:
        type: string
      file_name:
        type: string
      file_path:
        type: string
      id:
        type: integer
      project_id:
        type: integer
      status:
        description: success, failed
        type: string
    type: object
  models.Project:
    properties:
      created_at:
        type: string
      description:
        type: string
      hosts:
        description: 关联关系
        items:
          $ref: '#/definitions/models.Host'
        type: array
      id:
        type: integer
      name:
        type: string
      tasks:
        items:
          $ref: '#/definitions/models.Task'
        type: array
      updated_at:
        type: string
      variables:
        items:
          $ref: '#/definitions/models.Variable'
        type: array
    type: object
  models.Task:
    properties:
      args:
        type: string
      created_at:
        type: string
      enabled:
        type: boolean
      id:
        type: integer
      module:
        type: string
      name:
        type: string
      order:
        type: integer
      project_id:
        type: integer
      updated_at:
        type: string
    type: object
  models.Variable:
    properties:
      created_at:
        type: string
      id:
        type: integer
      name:
        type: string
      project_id:
        type: integer
      type:
        description: string, number, boolean, list
        type: string
      updated_at:
        type: string
      value:
        type: string
    type: object
host: localhost:8082
info:
  contact: {}
  description: 用于生成Ansible Playbook的REST API服务
  title: Ansible Playbook Generator API
  version: "1.0"
paths:
  /api/hosts:
    get:
      description: 获取指定项目的所有主机
      parameters:
      - description: 项目ID
        in: query
        name: project_id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/models.Host'
            type: array
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: 获取项目主机列表
      tags:
      - hosts
    post:
      consumes:
      - application/json
      description: 为项目添加新主机
      parameters:
      - description: 主机信息
        in: body
        name: host
        required: true
        schema:
          $ref: '#/definitions/models.Host'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/models.Host'
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: 创建主机
      tags:
      - hosts
  /api/hosts/{id}:
    delete:
      description: 删除指定主机
      parameters:
      - description: 主机ID
        in: path
        name: id
        required: true
        type: integer
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: 删除主机
      tags:
      - hosts
    put:
      consumes:
      - application/json
      description: 更新主机信息
      parameters:
      - description: 主机ID
        in: path
        name: id
        required: true
        type: integer
      - description: 主机信息
        in: body
        name: host
        required: true
        schema:
          $ref: '#/definitions/models.Host'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.Host'
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: 更新主机
      tags:
      - hosts
  /api/playbook/download/{id}:
    get:
      description: 下载生成的Playbook文件
      parameters:
      - description: 生成记录ID
        in: path
        name: id
        required: true
        type: integer
      responses:
        "200":
          description: OK
          schema:
            type: file
        "404":
          description: Not Found
          schema:
            additionalProperties:
              type: string
            type: object
      summary: 下载Playbook文件
      tags:
      - playbook
  /api/playbook/generate:
    post:
      consumes:
      - application/json
      description: 根据项目配置生成Ansible Playbook
      parameters:
      - description: 生成请求
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/handlers.GenerateRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.PlaybookGeneration'
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: 生成Playbook
      tags:
      - playbook
  /api/projects:
    get:
      description: 获取所有项目的列表
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/models.Project'
            type: array
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: 获取项目列表
      tags:
      - projects
    post:
      consumes:
      - application/json
      description: 创建新的Ansible项目
      parameters:
      - description: 项目信息
        in: body
        name: project
        required: true
        schema:
          $ref: '#/definitions/models.Project'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/models.Project'
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: 创建项目
      tags:
      - projects
  /api/projects/{id}:
    delete:
      description: 删除指定项目
      parameters:
      - description: 项目ID
        in: path
        name: id
        required: true
        type: integer
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: 删除项目
      tags:
      - projects
    get:
      description: 根据ID获取项目详细信息
      parameters:
      - description: 项目ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.Project'
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "404":
          description: Not Found
          schema:
            additionalProperties:
              type: string
            type: object
      summary: 获取项目详情
      tags:
      - projects
    put:
      consumes:
      - application/json
      description: 更新项目信息
      parameters:
      - description: 项目ID
        in: path
        name: id
        required: true
        type: integer
      - description: 项目信息
        in: body
        name: project
        required: true
        schema:
          $ref: '#/definitions/models.Project'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.Project'
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: 更新项目
      tags:
      - projects
  /api/tasks:
    get:
      description: 获取指定项目的所有任务
      parameters:
      - description: 项目ID
        in: query
        name: project_id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/models.Task'
            type: array
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: 获取项目任务列表
      tags:
      - tasks
    post:
      consumes:
      - application/json
      description: 为项目添加新任务
      parameters:
      - description: 任务信息
        in: body
        name: task
        required: true
        schema:
          $ref: '#/definitions/models.Task'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/models.Task'
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: 创建任务
      tags:
      - tasks
  /api/tasks/{id}:
    delete:
      description: 删除指定任务
      parameters:
      - description: 任务ID
        in: path
        name: id
        required: true
        type: integer
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: 删除任务
      tags:
      - tasks
    put:
      consumes:
      - application/json
      description: 更新任务信息
      parameters:
      - description: 任务ID
        in: path
        name: id
        required: true
        type: integer
      - description: 任务信息
        in: body
        name: task
        required: true
        schema:
          $ref: '#/definitions/models.Task'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.Task'
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: 更新任务
      tags:
      - tasks
  /api/variables:
    get:
      description: 获取指定项目的所有变量
      parameters:
      - description: 项目ID
        in: query
        name: project_id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/models.Variable'
            type: array
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: 获取项目变量列表
      tags:
      - variables
    post:
      consumes:
      - application/json
      description: 为项目添加新变量
      parameters:
      - description: 变量信息
        in: body
        name: variable
        required: true
        schema:
          $ref: '#/definitions/models.Variable'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/models.Variable'
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: 创建变量
      tags:
      - variables
  /api/variables/{id}:
    delete:
      description: 删除指定变量
      parameters:
      - description: 变量ID
        in: path
        name: id
        required: true
        type: integer
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: 删除变量
      tags:
      - variables
    put:
      consumes:
      - application/json
      description: 更新变量信息
      parameters:
      - description: 变量ID
        in: path
        name: id
        required: true
        type: integer
      - description: 变量信息
        in: body
        name: variable
        required: true
        schema:
          $ref: '#/definitions/models.Variable'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.Variable'
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: 更新变量
      tags:
      - variables
swagger: "2.0"
